@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
    font-weight: 500;
}

:root {
    --padding: .5rem;
    --size: 0;
    --scaleFactor: scale(0.5);
    --inventorySize: calc(30vw * (514 / 3868));
    --background: url(../img/places/CityCenter_001_2_rl.jpg);
    --level1X: 50%;
    --level1Y: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

#fullScreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
}

#start-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    top: 0;
    left: 0;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    transform: translateY(-100%);
}

/* #start-titel{
    opacity: 0;
    font-weight: 900;
    letter-spacing: 0.618rem;
   
} */

/*Start Menu*/
#menu-wrapper-start {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 var(--padding);
    background: transparent;
    width: 100vw;
    height: fit-content;
    /* border: 2px solid black; */
    pointer-events: none;
    z-index: 1;
}

#tutorial {
    cursor: pointer;
}

#options-wrapper ul {
    list-style: none;
}

.optionspic {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    padding: var(--padding);
}

.optionspic img {
    width: 5rem;
}

#options {
    display: flex;
    gap: var(--padding);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    padding: 0 var(--padding);
}

#options img {
    width: 5rem;
}

#levels {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

#startLevel1,
#startLevel2,
#startLevel3,
#startLevel4 {
    position: absolute;
    padding: var(--padding);
    transform: translate(-50%, -50%) var(--scaleFactor);
   
    font-size: 3vw;
    /* background: black; */
    background-image: url(../img/Stadt/BIB001_Stadt_Ort2_01_hz.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    touch-action: all;
    width: fit-content;
    pointer-events: all;
    width: 40vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 3px solid green; */
    padding-top: 2vw;
}

#level-info{
    display: none;
    position: absolute;
    padding: var(--padding);
    top: var(--infoY);
    left: var(--infoX);
    transform: translate(-50%, -50%) var(--scaleFactor);
    color: white;
    font-size: 1.25rem;
    /* background: black; */
    cursor: pointer;
    touch-action: all;
    pointer-events: all;
    width: 500px;
    height: fit-content;
    text-align: center;
}

#level-info h2{
    background-image: url(../img/Stadt/BIB001_Stadt_Ort3Ausgeklappt_Ortsname_01_hz.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: clamp(100px, 40vw, 800px);
    height: clamp( 100px,10vw , 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0,8vh);
    font-size: 6vh;
    /* outline: 3px solid orange; */
}
#level-info p{
    background-image: url(../img/Stadt/BIB001_Stadt_Ort3Ausgeklappt_Themen_01_hz.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: clamp(400px, 40vw, 800px);
    width: clamp(400px, 40vw, 800px); /* 40vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: clamp(.5rem, 2.25vw, 2rem);
    padding: 1rem 3rem;
    /* outline: 3px solid orange; */
}

#level-info > *{
    padding: .5rem;
}

#level1Ready,
#level2Ready,
#level3Ready,
#level4Ready{
    display: none;
    font-size: 7vw;
    width: clamp(400px, 40vw, 800px); 
    height: clamp(50px, 10vw, 200px);
    /* background-color: rgba(0,0,0,0.25); */
    background: url(../img/Dialog/BIB001_Dialog_Weiter_01_hz.png) 50% 0 no-repeat;
    background-size: clamp(10%, 30%, 50%);
    border-radius: 15px;
    margin-top: -150px;
}

#startLevel1 {
    top: var(--level1Y);
    left: var(--level1X);
}
#startLevel2 {
    top: var(--level2Y);
    left: var(--level2X);
}
#startLevel3 {
    top: var(--level3Y);
    left: var(--level3X);
}
#startLevel4 {
    top: var(--level4Y);
    left: var(--level4X);
}

.highlight::before{
    content: '';
    width: 300px;
    height: 300px;
    top: 220px;
    left: 50%;
    transform: translate(10%, -165%); /*scale(-1)rotate(45deg)*/
    position: absolute;
    z-index: -1;
    background-image: url('../img/tutorial/pfeil.svg');
    background-repeat: no-repeat;
    background-size: contain;
    animation: glitch1 .3s infinite linear alternate , glitch2 .2s infinite linear alternate;
}

.highlight2::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(170%, -20%);  
    z-index: 1;
    background-image: url('../img/tutorial/pfeil.svg');
    background-repeat: no-repeat;
    background-size: contain;
    animation: glitch1 .31s infinite linear alternate , glitch2 .22s infinite linear alternate;
    /* outline: 1px solid red; */
}
.highlight3::before{
    content: '';
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    transform: translate(-120%, -55%);
    position: absolute;
    z-index: 1;
    background-image: url('../img/tutorial/pfeil.svg');
    background-repeat: no-repeat;
    background-size: contain;
    animation: glitch1 .3s infinite linear alternate , glitch2 .2s infinite linear alternate;
}
.highlight4::before{
    content: '';
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    transform: translate(30%, -80%);
    position: absolute;
    z-index: 1;
    background-image: url('../img/tutorial/pfeil.svg');
    background-repeat: no-repeat;
    background-size: contain;
    animation: glitch1 .3s infinite linear alternate , glitch2 .2s infinite linear alternate;
}

@keyframes glitch1 {
    from {
        left: 49%;
    }
    to {
        left: 51%;
    }
}
@keyframes glitch2 {
    from {
        top: 219px;
    }
    to {
        top: 221px;
    }
}

.menu-levelcontainer img {
    width: 20vw;
}

.menu-levelcontainer a {
    color: white;
    font-size: 3vw;
}

#level-title {
    display: flex;
    font-weight: 700;
}

#volume {
    position: absolute;
    padding: var(--padding);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    width: calc(2108px * 0.67);
    height: calc(999px * 0.67);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .3rem;

    z-index: 2;
    background: url(../img/Einstellungen/PopUp/BIB001_Einstellungen_Box_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#glossar {
    position: absolute;
    padding: var(--padding);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .3rem;
    width: calc(3539px * 0.67);
    height: calc(2075px * 0.67);
    z-index: 2;
    background: url(../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Buch_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#haupt-kat {
    position: absolute;
    top: 10%;
    left: -2%;
    font-size: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#studium {
    width: 50px;
    height: 50px;
    background: red;
}

#ausbildung {
    width: 50px;
    height: 50px;
    background: yellow;
}

#lebenskrisen {
    width: 50px;
    height: 50px;
    background: blue;
}

#erwachsen-werden {
    width: 50px;
    height: 50px;
    background: green;
}

#text-kat #sort {
    position: absolute;
    top: 0%;
    left: 2.5%;
    height: 10%;
    width: 16%;
    background: red;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

#text-kat #unter-kat {
    position: absolute;
    top: 12%;
    left: 2%;
    height: 80%;
    width: 17%;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    outline: 3px solid black;
    overflow-y: auto;
}

#text-kat #unter-kat div {
    border: 5px solid brown;
    border-radius: 10px;
    padding: 1rem;
}

#text-kat #unter-kat div:hover {
    background: purple;
}

#text-kat #info-kat {
    position: absolute;
    top: 4%;
    right: 5%;
    height: 88%;
    width: 45%;
    /* background:purple; */
    outline: 3px solid black;
    font-size: 2rem;
    color: black;
    padding: 1rem;
    overflow-y: auto;
}

.unterKat {
    cursor: pointer;
}

#text-kat #info-kat>* [data-active="false"] {
    filter: grayscale(100%);
    color: grey;
}

.kat {
    font-size: 2rem;
    color: greenyellow;
}

#options-text {
    position: relative;
    height: calc(208px * 0.67);
    width: calc(951px * 0.67);
    background: url(../img/options/BIB001_Einstellungen_Textfeld_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#options-text p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: calc(951px * 0.08);
}

#options-back {
    position: absolute;
    top: -2.5%;
    right: 0;
}

#glossar-back {
    position: absolute;
    top: -1.5%;
    right: 0;
}

#glossar-back img {
    width: 8em;
    cursor: pointer;
}

#slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

#slide img {
    width: 8rem;
}

#options-back {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#options-back img {
    width: 8rem;
    cursor: pointer;
}

.slider {
    position: relative;
    -webkit-appearance: none;
    width: 80%;
    height: 80px;
    background-image: url(../img/options/BIB001_Einstellungen_Leiste_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: none;
    background-color: transparent;
}

/* .slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(249,213,187,1) 33%, rgba(102,42,19,1) 100%);
} */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background: none;
    cursor: pointer;
    background-image: url(../img/options/BIB001_Einstellungen_Raute_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.25);
}

.slider::-moz-range-thumb {
    width: 75px;
    height: 75px;
    background: none;
    cursor: pointer;
    background-image: url(../img/options/BIB001_Einstellungen_Raute_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.25);
}

#volume input {
    cursor: pointer;
}

#tutWrapper {
    display: none;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}



#welcome-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2.33vw;
    width: 80vw;
    height: calc(80vw * (748 / 3572));
    z-index: 1;
    background-image: url(../img/Dialog/BIB001_Dialog_Dialogbox_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
}

#weiter {
    position: absolute;
    bottom: 13%;
    right: 17%;
    width: 6vw;
    height: auto;
    cursor: pointer;
}

#avatar {
    position: absolute;
    bottom: 2%;
    right: -5%;
    transform-origin: 50% 100%;
    z-index: 0;
    pointer-events: none;
}

#avatar img {
    width: 20vw;
    height: auto;
}

#welcome-text {
    position: absolute;
    top: 25%;
    left: 2.5%;
    width: 78%;
    height: 61%;
    /* outline: 3px solid greenyellow; */
    padding: 0.5rem;
    font-size: 1.5vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tutImg {
    position: absolute;
    padding: var(--padding);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%) var(--scaleFactor);
    width: calc(2108px * 0.67);
    height: calc(999px * 0.67);
    background-image: url(../img/Einstellungen/PopUp/BIB001_Einstellungen_Box_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background: rgba(0,0,0,0.75); */
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    display: none;
}

#backgroundDark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 0;
    pointer-events: none;
    display: none;
}

#eins{
    background-image: url(../img/objects/BIB001_Inventar_Testobjektgefunden_01_hz.png);
    /* background-image: url(../img/Glossar/GlossarButton/BIB001_GlossarButton_01_hz.png); */

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    width: 40%;
    height: 100%;
    /* outline: 1px solid yellowgreen; */
}
#zwei{
    background-image: url(../img/tutorial/Leiste.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 100%;
    /* outline: 1px solid yellowgreen; */
}

#question{
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    z-index: 1;
    cursor: pointer;
}

#question img{
    width: 5vw;
    height: auto;
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#screens {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    /* touch-action: none; */
    filter: blur(0px);
    z-index: 0;
}

#screen01-image {
    /* display: none; */
    max-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    filter:grayscale(100%) opacity(0);
}

#screen01 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backscreen2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat:repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
   /* filter: opacity(0.618); blur(5px)*/
}