

@font-face {
    font-family: 'FragmentCore';
    src: local('FragmentCore'), url(../fonts/Fragmentcore.otf) format("opentype");
}

@font-face {
    font-family: 'Museum';
    src: local('Museum'), url(../fonts/LTMuseum-Reg.ttf) format('truetype');
}

:root {
    --padding: .5rem;
    --size: 0;
    --scaleFactor: scale(0.5);
    --inventorySize: calc(30vw * (514 / 3868));
    --background: url(../img/places/CityCenter_001_2_rl.jpg);
    --level1X: 50%;
    --level1Y: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'FragmentCore', serif;
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    pointer-events: all;
    /* cursor: url(../img/inventar/LupeCursor.svg), auto; */
}

body::-webkit-scrollbar {
    display: none;
}

#fullScreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
}

#start-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    top: 0;
    left: 0;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    background-image: url(../img/Zyn/Zyn-3-rella_Normal_.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0% {
        background-image: url(../img/Zyn/Zyn-3-rella_Normal_Blinzeln.png);
    }

    40% {
        background-image: url(../img/Zyn/Zyn-3-rella_GoodJob.png);
    }

    60% {
        background-image: url(../img/Zyn/Zyn-3-rella_Nachdenklich.png);
    }

    80% {
        background-image: url(../img/Zyn/Zyn-3-rella_Talking.png);
    }
}

#start-titel {
    opacity: 0;
    font-weight: 900;
    letter-spacing: 0.618rem;

}

#menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 var(--padding);
    background: transparent;
    width: 100vw;
    height: fit-content;
    z-index: 1;
    /* border: 2px solid black; */
    pointer-events: none;
}

/*Start Menu*/
#menu-wrapper-start {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 var(--padding);
    background: transparent;
    width: 100vw;
    height: fit-content;
    /* border: 2px solid black; */
    pointer-events: none;
    z-index: 1;
}

#tutorial {
    cursor: pointer;
}

#options-wrapper ul {
    list-style: none;
}

.close-level {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    padding: var(--padding);
}

.close-level img {
    width: 5rem;
}

#options {
    display: flex;
    gap: var(--padding);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    padding: 0 var(--padding);
}

#options img {
    width: 5rem;
}

/** START Levels **/
#levels {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

#startLevel1,
#startLevel2,
#startLevel3,
#startLevel4 {
    position: absolute;
    padding: var(--padding);
    transform: translate(-50%, -50%) var(--scaleFactor);

    font-size: 2.5vw;
    /* background: black; */
    background-image: url(../img/Stadt/BIB001_Stadt_Ort2_01_hz.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    touch-action: all;
    width: fit-content;
    pointer-events: all;
    width: 35vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vw;
}

#level-info {
    display: none;
    position: absolute;
    padding: var(--padding);
    top: var(--infoY);
    left: var(--infoX);
    transform: translate(-50%, -50%) var(--scaleFactor);
    color: white;
    font-size: 1.25rem;
    /* background: black; */
    cursor: pointer;
    touch-action: all;
    pointer-events: all;
    width: 500px;
    height: fit-content;
    text-align: center;
}

#level-info h2 {
    background-image: url(../img/Stadt/BIB001_Stadt_Ort3Ausgeklappt_Ortsname_01_hz.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: clamp(100px, 35vw, 800px);
    height: clamp(100px, 10vw, 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, 8vh);
    font-size: 6vh;
}

#level-info p {
    background-image: url(../img/Stadt/BIB001_Stadt_Ort3Ausgeklappt_Themen_01_hz.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: clamp(100px, 35vw, 800px);
    height: clamp(100px, 35vw, 800px);
    /* 40vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: clamp(.5rem, 2.25vw, 2rem);
    padding: 1rem 3rem;
}

#level-info>* {
    padding: .5rem;
}

#level1Ready,
#level2Ready,
#level3Ready,
#level4Ready {
    display: none;
    font-size: 7vw;
    width: clamp(100px, 30vw, 800px);
    height: clamp(50px, 10vw, 200px);
    /* background-color: rgba(0,0,0,0.25); */
    background: url(../img/Dialog/BIB001_Dialog_Weiter_01_hz.png) 62% 0 no-repeat;
    background-size: clamp(10%, 30%, 50%);
    border-radius: 15px;
    margin-top: -85px;
}

#startLevel1 {
    top: var(--level1Y);
    left: var(--level1X);
}

#startLevel2 {
    top: var(--level2Y);
    left: var(--level2X);
}

#startLevel3 {
    top: var(--level3Y);
    left: var(--level3X);
}

#startLevel4 {
    top: var(--level4Y);
    left: var(--level4X);
}

/** END Levels **/

/** START Options **/
#options-info {
    opacity: 0;
    pointer-events: none;
    position: relative;
    right: 5vw;
}

#options-info img {
    position: absolute;
    bottom: 10px;
    left: -300px;
    width: 300px !important;
    height: 80px;
}

#options-info p {
    position: absolute;
    bottom: 10px;
    left: -300px;
    width: 300px !important;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#options-text {
    position: relative;
    height: calc(208px * 0.67);
    width: calc(951px * 0.67);
    background: url(../img/options/BIB001_Einstellungen_Textfeld_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#options-text p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: calc(951px * 0.08);
}

#options-back {
    position: absolute;
    top: -2.5%;
    right: 0;
}

#slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

#slide img {
    width: 8rem;
}

#options-back {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#options-back img {
    width: 8rem;
    cursor: pointer;
}

.slider {
    position: relative;
    -webkit-appearance: none;
    width: 80%;
    height: 80px;
    background-image: url(../img/options/BIB001_Einstellungen_Leiste_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: none;
    background-color: transparent;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background: none;
    cursor: pointer;
    background-image: url(../img/options/BIB001_Einstellungen_Raute_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.25);
}

.slider::-moz-range-thumb {
    width: 75px;
    height: 75px;
    background: none;
    cursor: pointer;
    background-image: url(../img/options/BIB001_Einstellungen_Raute_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.25);
}

#volume input {
    cursor: pointer;
}

/** END Options **/

/** START Highlight **/
.highlight {
    z-index:3;
}
.highlight::before{
    content: '';
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    transform: translate(0%, -0%);
    position: absolute;
    z-index: 1;
    background-image: url('../img/tutorial/pfeil.svg');
    background-repeat: no-repeat;
    background-size: contain;
    animation: glitch1 .3s infinite linear alternate, glitch2 .2s infinite linear alternate;
}
.highlight.h1::before {
    top: 220px;
    left: 50%;
    transform: translate(10%, -165%);
    z-index: -1;
}

.highlight.h2::before {
    width: 200px;
    height: 200px;
    transform: translate(170%, -20%);
}

.highlight.h3::before {  
    transform: translate(-120%, -55%);
}

.highlight.h4::before {
    transform: translate(30%, -80%);
}
.highlight.h5::before {
    transform: translate(130%, -80%);
}

@keyframes glitch1 {
    from {
        left: 49%;
    }

    to {
        left: 51%;
    }
}

@keyframes glitch2 {
    from {
        top: 219px;
    }

    to {
        top: 221px;
    }
}

/** END Highlight **/

/** START Menu levelcontainer **/
.menu-levelcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.menu-levelcontainer p{
    margin-top: 15px;
}

.menu-levelcontainer img {
    width: 20vw;
}

.menu-levelcontainer a {
    color: white;
    font-size: 3vw;
}

.menu-levelcontainer #startLevel1 {
    color: white;
    font-size: 3vw;
    cursor: pointer;
}

#level-title {
    display: flex;
    font-weight: 700;
}

/** END Menu levelcontainer **/

/** START Volume **/
#volume {
    position: absolute;
    padding: var(--padding);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .3rem;
    width: calc(2108px * 0.67);
    height: calc(999px * 0.67);
    z-index: 9;
    background: url(../img/Einstellungen/PopUp/BIB001_Einstellungen_Box_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/** END Volume **/

/** START Glossar **/
#glossar {
    position: absolute;
    padding: var(--padding);
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .3rem;
    width: calc(3539px * 0.67);
    height: calc(2075px * 0.67);
    z-index: 2;
}

#sort {
    position: absolute;
    top: 10%;
    left: 5.7%;
    font-size: 2rem;
    width: 8%;
    text-align: center;
    cursor: pointer;
}



#glossar .background {
    background: url(../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Buch_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
#glossar .background #glossar-zyndr3lla {
    background: url(../img/Zyn/Zyn-3-rella_GoodJob.png);
    width: 70%;
    height: 55%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 25%;
    left: 20%;
    opacity: .5;
}

#haupt-kat {
    position: absolute;
    top: 15%;
    left: -4%;
    font-size: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: -1;
}

#haupt-kat .active{
    left: -20px;
}
#haupt-kat .inactive{
    left: 65px;
}

#studium {
    background: url('../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Lesezeichen_gelb_01_hz.png');
    width: 175px;
    height: 100px;
    background-size: cover;
    position: relative;
    left: 0;
    transition: left .5s;
}

#studium .mainNavEntryIcon {
    background: url(../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Symbol\ 3_01_hz.png) 0px 0px no-repeat;
    height: 45px;
    background-size: contain;
    position: relative;
    top: 25px;
    left: 44px;
}

#ausbildung {
    background: url('../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Lesezeichen_gruen_01_hz.png');
    width: 175px;
    height: 100px;
    background-size: cover;
    position: relative;
    left: 0;
    transition: left .5s;

}

#ausbildung .mainNavEntryIcon {
    background: url(../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Symbol\ 4_01_hz.png) 0px 0px no-repeat;
    height: 45px;
    background-size: contain;
    position: relative;
    top: 25px;
    left: 44px;
}

#lebenskrisen {
    background: url('../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Lesezeichen_blau_01_hz.png');
    width: 175px;
    height: 100px;
    background-size: cover;
    position: relative;
    left: 0;
    transition: left .5s;

}

#lebenskrisen .mainNavEntryIcon {
    background: url(../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Symbol\ 2_01_hz.png) 0px 0px no-repeat;
    height: 45px;
    background-size: contain;
    position: relative;
    top: 25px;
    left: 44px;
}

#erwachsen-werden {
    background: url('../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Lesezeichen_orange_01_hz.png');
    width: 175px;
    height: 100px;
    background-size: cover;
    position: relative;
    left: 0;
    transition: left .5s;

}

#erwachsen-werden .mainNavEntryIcon {
    background: url(../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Symbol\ 1_01_hz.png) 0px 0px no-repeat;
    height: 45px;
    background-size: contain;
    position: relative;
    top: 25px;
    left: 44px;
}

#studium:hover,
#lebenskrisen:hover,
#ausbildung:hover,
#erwachsen-werden:hover {
    left: -30px;

}

#text-kat #cat-name {
    position: absolute;
    top: 14%;
    left: 33px;
    height: 10%;
    width: 17%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    color: #fff;
    font-family: 'Museum';
}

#text-kat #unter-kat {
    position: absolute;
    top: 24%;
    left: 1.5%;
    height: 68%;
    width: 17%;
    font-size: 2.5rem;
    /* text-transform: capitalize; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

#text-kat #unter-kat .subCatNavEntry {
    background: url('../img/Glossar/GlossarBuch/BIB001_GlossarBuch_Kategorie_01_hz.png') 0 0 no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Museum';
    line-height: 85px;
    height: 85px;
    text-align: center;
}

#text-kat #unter-kat span {
    font-size: 1.75rem;
    line-height: 1;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

#text-kat #info-kat {
    position: absolute;
    top: 11%;
    right: 9%;
    height: 84%;
    width: 43%;
    font-size: 2rem;
    color: black;
    padding: 1rem;
    overflow-y: auto;
}

.glossar-content{
}

.glossar-content .cat-content,
.glossar-content .az-content{
    margin-bottom: 80px;
}

.glossar-content h1{
    font-family: 'Museum', serif;
    margin-bottom: 40px;
}

.glossar-content h2{
    font-family: 'Museum', serif;
    margin-bottom: 20px;

}
.glossar-content p{
    line-height: 4rem;
}

.glossar-content ul{

}
.glossar-content ul li{
}
.unterKat {
    cursor: pointer;
}
.glossar-content ul li b{
    font-family: 'Museum';
}
.glossar-content ul li a{
    line-height: 4rem;
}

#text-kat #info-kat>* [data-active="false"] {
    filter: grayscale(100%);
    color: grey;
}

.kat {
    font-size: 2rem;
    color: greenyellow;
}
#glossar-back {
    position: absolute;
    top: 2.5%;
    right: 5%;
}

#glossar-back img {
    width: 8em;
    cursor: pointer;
}
/** END Glossar **/

/** Start Gameplay **/
#arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    width: clamp(48px, 5vw, 96px);
    height: clamp(48px, 5vw, 96px);
    cursor: pointer;
    background-image: url(../img/options/BIB001_Wimmelbild_UmsehenPfeil_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%) scale(-1);
    width: clamp(48px, 5vw, 96px);
    height: clamp(48px, 5vw, 96px);
    cursor: pointer;
    background-image: url(../img/options/BIB001_Wimmelbild_UmsehenPfeil_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#inventory-wrapper01,
#inventory-wrapper02,
#inventory-wrapper03,
#inventory-wrapper04 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2.33vw;
    /*var(--padding)*/
    width: 80vw;
    height: calc(80vw * (514 / 3868));
    z-index: 1;
    background-image: url(../img/Wimmbelbild/Inventar/BIB001_Inventar_Hintergrund_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*3868 × 514*/
}

.hint {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4vw;
    height: auto;
}

.hint-bar {
    content: "";
    position: absolute;
    bottom: 1%;
    right: 0.5%;
    width: 10px;
    height: 0%;
    background: red;
    border: 1px solid black;
    animation: goDown 15s linear forwards;
}

#hintCircleSecret{
    width: 10% !important;
    height: 10% !important;
    animation: hintCircle ease-in-out infinite alternate;
}

@keyframes goDown {
    0% {
        height: 33%;
    }

    100% {
        height: 0%;
    }
}

.lupe {
    position: absolute;
    top: -.5vw;
    right: -1.5vw;
    width: 6vw;
    height: auto;
}

.switchInventory {
    position: absolute;
    top: -25%;
    right: 50%;
    transform: translate(50%, 0) rotate(-90deg) scale(0.5);
    width: 6vw;
    height: auto;
}

/* .inventoryObject{
    height: calc(20vw * (514 / 3868));
    width: calc(20vw * (514 / 3868));
    filter: brightness(0.1) sepia(1) opacity(0.3); 
} */

/*Location01*/
#screens {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 400%;
    height: 100vh;
    touch-action: none;
    filter: blur(0px);
}

#screen01-image,
#screen02-image,
#screen03-image,
#screen04-image {
    position: relative;
    display: block;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
}

#screen01,
#screen02,
#screen03,
#screen04 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#rain {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--rainWidth);
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

.backscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    filter: blur(5px) opacity(0.618);
}

.backscreen2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: center center;
    background-size: 33%;
    z-index: -1;
    /* filter: opacity(0.618); blur(5px)*/
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.pickObject {
    /* image-rendering: crisp-edges; */
    /* outline: 3px solid rgb(255, 165, 0, 0.67); */
}

.hintCircle {
    /* box-shadow: 0px 0px 105px 43px rgba(255, 255, 255, 0.9);*/
    /* animation: hintCircle 5s ease-in-out infinite alternate; */
    pointer-events: none;
}

#hintCircleLeft,
#hintCircleRight {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/objects/BIB001_Stadt_Hinweiskreis_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: none;
    opacity: 0;
}

#secretInnenstadt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    width: calc(3840px * 0.67);
    height: calc(2160px * 0.67);
    z-index: 1;
    background: url(../img/CityCenter/Zoom/CityCenter_Zoom_001_rl.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;

}

#secretInnenstadt #geldbeutel {
    position: absolute;
    top: 46.5%;
    left: 52.25%;
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
}

#secretInnenstadt #bankkarte {
    position: absolute;
    top: 58%;
    left: 53%;
    width: 350px;
    height: 80px;
    /* border: 1px solid red; */
    display: none;
}

#secretInnenstadt #bankschlitz {
    position: absolute;
    top: 42%;
    left: 52.2%;
    width: 100px;
    height: 80px;
    /* border: 1px solid red; */
    display: none;
}

#secretInnenstadt #optionen01 {
    position: absolute;
    top: 30.5%;
    left: 44.5%;
    width: 300px;
    height: 40px;
    /* border: 1px solid blue; */
    display: none;
}

#secretInnenstadt #optionen02 {
    position: absolute;
    top: 27.5%;
    left: 44.5%;
    width: 300px;
    height: 170px;
    /* border: 1px solid orange; */
    display: none;
}

#secretInnenstadt #kontoauszug {
    position: absolute;
    top: 61%;
    left: 47%;
    width: 180px;
    height: 120px;
    /* border: 1px solid greenyellow; */
    display: none;
}

#secretInnenstadt #glitch01 {
    position: absolute;
    top: 24.47%;
    left: 44.65%;
    width: 287.9px;
    height: 222px;
    /* border: 5px solid green; */
    /* background-image: url(../img/Bild002/Zoom/glitch/dos.png); */
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 50% 44%;
    z-index: -1;
    image-rendering: pixelated;
    filter: sepia(37%) brightness(1.25) hue-rotate(9deg);
    clip-path: polygon(0 0, 100% 0.8%, 96.6% 100%, 3.4% 100%);
}

#secretInnenstadt .close {
    background: url(../img/objects/Zoomansicht_Kreuz_01_hz.png);
    position: absolute;
    top: 12.5%;
    right: 14.9%;
    width: 13vw;
    height: 13vw;
    background-size: cover;
    cursor: pointer;
}

#secretCampus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    width: calc(3840px * 0.67);
    height: calc(2160px * 0.67);
    z-index: 1;
    background: url(../img/Campus/Zoom/Campus_Zoom_016_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

#secretCampus #Zauberer {
    position: absolute;
    top: 39.7% !important;
    left: 30.2% !important;
    width: calc(412px * 0.67) !important;
    height: calc(527px * 0.67) !important;
    background: url(../img/Campus/Zoom/Campus_Zoom_Zauberer_014_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#secretCampus #Dieb {
    position: absolute;
    top: 56.4% !important;
    left: 66.9% !important;
    width: calc(332px * 0.67) !important;
    height: calc(373px * 0.67) !important;
    background: url(../img/Campus/Zoom/Campus_Zoom_Dieb_014_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#secretCampus #Koch {
    position: absolute;
    top: 16.04% !important;
    left: 38.38% !important;
    width: calc(250px * 0.67) !important;
    height: calc(496px * 0.67) !important;
    background: url(../img/Campus/Zoom/Campus_Zoom_Koch_014_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#secretCampus .close{
    background: url(../img/objects/Zoomansicht_Kreuz_01_hz.png);
    position: absolute;
    top: 10.5%;
    right: 16%;
    width: 13vw;
    height: 13vw;
    background-size: cover;
    cursor: pointer;

}

#secretWohnviertel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    width: calc(3840px * 0.67);
    height: calc(2160px * 0.67);
    z-index: 1;
    background: url(../img/Wohnviertel/Bild_004/Zoom/wohnviertel_withoutobjects_004_jg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

#secretWohnviertel #Wlan{
    position: absolute;
    top: 19.7% !important;
    left: 59.5% !important;
    width: calc(120px* 0.67) !important;
    background: url(../img/Wohnviertel/Bild_004/Zoom/Objekte_ImBild/wlan.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(120px* 0.67) !important;
}

#secretWohnviertel #Stromkasten {
    position: absolute;
    top: 29% !important;
    left: 44.7% !important;
    width: calc(90px* 0.67) !important;
    background: url(../img/Wohnviertel/Bild_004/Zoom/Objekte_ImBild/strom.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(150px* 0.67) !important;
}

#secretWohnviertel #Rathaus {
    position: absolute;
    top: 52% !important;
    left: 18% !important;
    width: calc(350px* 0.67) !important;
    background: url(../img/Wohnviertel/Bild_004/Zoom/Objekte_ImBild/rathaus.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(250px* 0.67) !important;
}

#secretWohnviertel .close{
    background: url(../img/objects/Zoomansicht_Kreuz_01_hz.png);
    position: absolute;
    top: 10.5%;
    right: 16%;
    width: 13vw;
    height: 13vw;
    background-size: cover;
    cursor: pointer;

}

#secretAltstadt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    width: calc(3840px * 0.67);
    height: calc(2160px * 0.67);
    z-index: 1;
    background: url(../img/Campus/Zoom/Campus_Zoom_016_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#secretAltstadt .close{
    background: url(../img/objects/Zoomansicht_Kreuz_01_hz.png);
    position: absolute;
    top: 10.5%;
    right: 16%;
    width: 13vw;
    height: 13vw;
    background-size: cover;
    cursor: pointer;

}

#puzzle_wrapper {
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) var(--scaleFactor);
    width: calc(2440px* 0.96);
    height: calc(1504px* 0.96);

}

.card {
    position: absolute;
    background-size: contain;
}

.card.active {
    border: 3px outset #FFD100;
    z-index: 999;
}

#win_layer h1 {
    text-align: center;
}



#backgroundDark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    pointer-events: none;
    display: none;
}
/** END Gameplay **/

/** START Homescreen **/
#dialogWrapper {
    display: none;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}
#dialogWrapper.active{
    display: block;
    opacity: 1;
}

#tutImg {
    position: absolute;
    padding: var(--padding);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%) var(--scaleFactor);
    width: calc(2108px * 0.67);
    height: calc(999px * 0.67);
    background-image: url(../img/Einstellungen/PopUp/BIB001_Einstellungen_Box_01_hz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background: rgba(0,0,0,0.75); */
    z-index: 2;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    display: none;
}



#dialogWrapper .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2.33vw;
    width: 80vw;
    height: calc(80vw * (748 / 3572));
    z-index: 1;
    background-image: url(../img/Dialog/BIB001_Dialog_Dialogbox_01_hz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
}
#dialogWrapper .content .headline{
    position: absolute;
    top: 8%;
    left: 5%;
    font-family: 'Museum';
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    width: 18%;
}

#dialogWrapper .content .next {
    position: absolute;
    bottom: 13%;
    right: 17%;
    width: 6vw;
    height: auto;
    cursor: pointer;
}

#dialogWrapper .avatar {
    position: absolute;
    bottom: 2%;
    right: -5%;
    transform-origin: 50% 100%;
    z-index: 0;
    pointer-events: none;
}

#dialogWrapper .avatar img {
    width: 20vw;
    height: auto;
}

#dialogWrapper .content .text {
    position: absolute;
    top: 25%;
    left: 2.5%;
    width: 78%;
    height: 61%;
    padding: 0.5rem;
    font-size: 1.5vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#dialogWrapper .choise {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    flex-direction: column;
}
#dialogWrapper .choise.active{
    display: flex;
}
#dialogWrapper .choise button{
    display: block;
    width: 20vw;
    height: 65px;
    background: url(../img/Dialog/dialogue_option.png) 0 0 no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Museum';
    border: none;
}
#dialogWrapper .choise .stayButton{
    
}
#dialogWrapper .choise .leaveButton{
    
    
}



#backgroundDark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    pointer-events: none;
    display: none;
}

#eins {
    background-image: url(../img/objects/BIB001_Inventar_Testobjektgefunden_01_hz.png);
    /* background-image: url(../img/Glossar/GlossarButton/BIB001_GlossarButton_01_hz.png); */

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    width: 40%;
    height: 100%;
}

#zwei {
    background-image: url(../img/tutorial/Leiste.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40%;
    height: 100%;
}

#question {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    z-index: 1;
    cursor: pointer;
}

#question img {
    width: 5vw;
    height: auto;
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.homescreen #screens {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    /* touch-action: none; */
    filter: blur(0px);
    z-index: 0;
}

#screen01-image {
    /* display: none; */
    max-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    /* filter: grayscale(100%) opacity(0); */
}

#screen01 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backscreen2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
    /* filter: opacity(0.618); blur(5px)*/
}
/** END Homescreen **/


